{% extends 'pet_shop/base.html' %}
{% load static %}

  {% block contenido %}
  {% include 'pet_shop/banner.html' %}

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static "publica/images/about.jpg" %});">
                {% comment %} <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center"> {% endcomment %}
                  {% comment %} <span class="icon-play"></span> {% endcomment %}
                </a>
              </div>
              <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                  <div class="ml-md-0">
                    <h2 class="mb-4">Nuestra Mision</h2>
                  </div>
                </div>
                <div class="pb-md-5">
                  <p>Contribuimos a crear un mundo mejor. </p>
                  <p>Ayudamos a amar y proteger a sus mascotas.
                    Creamos equipos de trabajo solidarios, proactivos y capacitados.
                    Invertimos e Innovamos para poder seguir mejorando y poder acercarnos cada día más.
                    Priorizamos el aporte y la participación solidaria para crear una comunidad inclusiva y el cuidado del medio ambiente.</p>
                  
                  
                </div>
              </div>
            </div>
          </div>
</section>

{% include 'pet_shop/suscribirse.html' %}

		{% comment "comentario" %}{% endcomment %}

{% comment %} {% include 'pet_shop/happy-customers.html' %}

{% include 'pet_shop/testimonios.html' %} {% endcomment %}

{% include 'pet_shop/free-shipping.html' %}

    
{% endblock contenido %}