{% load static %}
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('{% static "publica/images/bg_1.jpg" %}');">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">Los Mejores Productos a los Mejores Precios</h1>
            <h2 class="subheading mb-4">Vealo usted mismo en la Sección de Productos</h2>
            <p><a href="{% url 'productos' %}" class="btn btn-primary">Ver Productos</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url('{% static "publica/images/bg_2.jpg" %}');">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">Sigue nuestro Blog de Noticias</h1>
            <h2 class="subheading mb-4">Mantente al tanto de lo ultimo</h2>
            <p><a href="{% url 'blog' %}" class="btn btn-primary">Ver Blog</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>