{% extends 'pet_shop/base.html' %}
{% load static %}
{% block css %}{% endblock css %}

{% block contenido %}
{% for message in messages %}
			        <div class="col-md-12 alert alert-{{ message.tags }}" role="alert">
				        {{message}}
			        </div>
		          {% endfor %}
{% include 'pet_shop/banner.html' %}

    <section class="ftco-section contact-section bg-light">
      <div class="container">
        
      	<div class="row d-flex mb-5 contact-info">
          <div class="w-100"></div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Direccion:</span> Av. Rivadavia 1381, Codigo Postal: 1010, Capital Federal, Argentina</p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Telefono:</span> <a href="tel://1234567920">+ 54911 5050 5050</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Email:</span> <a href="mailto:info@yoursite.com">pet_shop@correo.com</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Web:</span> <a href="#">pet_shop.com</a></p>
	          </div>
          </div>
        </div>
        
        <div class="row block-9">

         
          <div class="col-md-6 order-md-last d-flex">
           
            <!-- comenzo del formulario.-->
            <form action="{% url 'contactanos' %}" method='POST' class="bg-white p-5 contact-form">
              {% csrf_token %}
              {% for campo in contacto_form %}
              <div class="form-group">
                {{campo}}
              </div>
              <div>
                {{campo.success}}
                {{campo.errors}}
              </div>
              {% endfor %}
              <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary py-3 px-5">
              </div>
                
            </form>
            
          </div>

         {% comment %}  <div class="col-md-6 d-flex">
          	<div id="map" class="bg-white"></div>
          </div> {% endcomment %}
          <div class="col-md-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s">
            <div class="position-relative h-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22098.578682337284!2d-58.43053552921777!3d-34.57954023981164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1682265174600!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
      </div>
      
    </section>

{% endblock contenido %}

