{% load static %}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters ftco-services">
  <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Free Shipping</h3>
        <span>On order over $100</span>
      </div>
    </div>      
  </div>
  <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Always Fresh</h3>
        <span>Product well package</span>
      </div>
    </div>    
  </div>
  <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Superior Quality</h3>
        <span>Quality Products</span>
      </div>
    </div>      
  </div>
  <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Support</h3>
        <span>24/7 Support</span>
      </div>
    </div>      
  </div>
    </div>
    </div>
</section>