{% extends './base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block contenido %}

{% comment "banner" %} banner de inicio{% endcomment %}
<section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url('{% static "publica/images/bg_1.jpg" %}');">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
	              <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
	              <p><a href="{% url 'productos' %}" class="btn btn-primary">Ver Productos</a></p>
	            </div>

	          </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image: url('{% static "publica/images/bg_2.jpg" %}');">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
	              <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
	              <p><a href="#" class="btn btn-primary">View Details</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
	    </div>
</section>

{% include './free-shipping.html' %}

{% include './productos-principales.html' %}

{% include './nuestros-productos.html' %}
		
{% include './oferta-del-dia.html' %}

{% include './testimonios.html' %}

    <hr>

{% include './logos-varios.html' %}

{% include './suscribirse.html' %}

{% endblock contenido %}
  