{% extends './base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block contenido %}
{% comment %} banner {% endcomment %}
{% include './banner.html' %}


<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ftco-animate">
          {% csrf_token %}
              <form action="#" class="billing-form">
                  <h3 class="mb-4 billing-heading">Ingrese sus datos</h3>
                      <div class="row align-items-end">
                          <div class="col-md-6">
                          <div class="form-group">
                          <label for="firstname">{{alta.nombre.label}}</label>
                          {{alta.nombre}}

                      </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="lastname">{{alta.apellido.label}}</label>
                              {{alta.apellido}}	
                          </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">{{alta.dni.label}}</label>
                            {{alta.dni}}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname">{{alta.cuit.label}}</label>
                            {{alta.cuit}}	
                        </div>
                    </div>
                      
                      {% comment %} <div class="w-100">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="country">State / Country</label>
                                      <div class="select-wrap">
                                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                              <select name="" id="" class="form-control">
                                                  <option value="">France</option>
                                                  <option value="">Italy</option>
                                                  <option value="">Philippines</option>
                                                  <option value="">South Korea</option>
                                                  <option value="">Hongkong</option>
                                                  <option value="">Japan</option>
                                              </select>
                                      </div>
                              </div>
                          </div>
                      </div> {% endcomment %}
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="">{{alta.direccion.label}}</label>
                                  {{alta.direccion}}
                              </div>
                          </div>

                          {% comment %}  <div class="col-md-6">
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
                              </div> 
                          </div> {% endcomment %}

                          <div class="col-md-6">
                              <div class="form-group">
                              <label for="">{{alta.ciudad.label}}</label>
                                  {{alta.ciudad}}
                              </div>
                          </div>

                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="">{{alta.cp.label}}</label>
                                  {{alta.cp}}
                              </div>
                          </div>
                          
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="">{{alta.telefono.label}}</label>
                                  {{alta.telefono}}
                              </div>
                          </div>
                          <div class="w-100"></div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="">{{alta.email.label}}</label>
                              {{alta.email}}
                          </div>
                      </div>
                      <div class="w-100"></div>
                      {% comment %} <div class="col-md-12">
                          <div class="form-group mt-4">
                                              <div class="radio">
                                              <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                                              <label><input type="radio" name="optradio"> Ship to different address</label>
                                              </div>
                          </div>
                      </div> {% endcomment %}
                      <div class="w-100">
                          <button type="submit" class='btn btn-primary py-3 px-4 w-100'  >REGISTRARSE</button>
                      </div>
              </div>
          </form>
<br><br>
{% endblock contenido %}