{% load static %}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters ftco-services">
  <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Envío Gratis</h3>
        <span>Dentro de CABA</span>
      </div>
    </div>      
  </div>
 
  <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Productos de Calidad</h3>
        <span>Lo mejor para tus mascotas</span>
      </div>
    </div>      
  </div>
  <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Soporte</h3>
        <span>La mejor atencion</span>
      </div>
    </div>      
  </div>
    </div>
    </div>
</section>