{% load static %}
<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url('{% static "publica/images/dog-g39c867c69_640.jpg" %}');"  >
                            <div class="text text-center">
                                <h2>LOS MEJOR PARA TU MASCOTA</h2>
                                <p style='color:white;'>Comida, juguetes y mas!</p>
                                <p><a href="{% url 'carrito' %}" class="btn btn-primary">Comprar Ahora</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static "publica/images/cat-gc3d980a0a_640.jpg" %}');" >
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Gatos</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static "publica/images/pet-gc2079c6a3_640.jpg" %}');">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Aves</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static "publica/images/dachshund-g064c05f94_640.jpg" %}');">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Perros</a></h2>
                    </div>		
                </div>
                <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static "publica/images/goofy-gab28e91c0_640.jpg" %}');">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Peces</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>