{% extends 'pet_shop/base.html' %}
{% load static %}
{% block css %}{% endblock css %}

{% if request.user.is_authenticated %}
{% block contenido %}

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ftco-animate">
            {% for message in messages %}
			          <div class="col-md-12 alert alert-{{ message.tags }}" role="alert">
				          {{message}}
			          </div>
		        {% endfor %}
            <h3 class="mb-4 billing-heading">Informacion Basica</h3>
            <div class="align-items-end">
                  <p class="w-100">{{user.username}}</p>
                  <p class="w100">{{user.first_name}}</p>
                  <p class="w100">{{user.last_name}}</p>
                  <p class="w100">{{user.email}}</p>
                  {% comment %} <a href='{% url 'editarUsuario' %}' class='btn btn-primary' >Editar</a> {% endcomment %}
                  <h3 class="mt-4 mb-4 billing-heading">Informacion Adicional</h3>
                  {% if adicional == 'No ha agregado informacion adicional' %}
                    <p class="mb-3">{{adicional}}</p>
                      <a href='{% url 'editarPerfil' %}' class='btn btn-primary'>AGREGAR</a>
                  {% else %}
                    <p class="w-100 mb-3">{{ adicional.dni}}</p>
                    <p class="w-100 mb-3">{{ adicional.cuit}}</p>
                    <p class="w-100 mb-3">{{ adicional.direccion}}</p>
                    <p class="w-100 mb-3">{{ adicional.ciudad}}</p>
                    <p class="w-100 mb-3">{{ adicional.cp}}</p>
                    <p class="w-100 mb-3">{{ adicional.telefono}}</p>
                    <a href='{% url 'editarPerfil' %}' class='btn btn-primary'>Editar</a>
                  {% endif %}
             
<br><br>
{% endblock contenido %}
{% endif %}