{% extends 'pet_shop/base_copy.html' %}
{% load static %}

{% block contenido %}

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
						<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th style='text-color=red;'>Nombre</th>
						        <th style='text-color=red;'>No. Factura</th>
                                <th style='text-color=red;'>ESTADO</th>
						        <th style='text-color=red;'>TOTAL</th>
						      </tr>
							  <tbody>
								<tr>
									<th>{{orden.cliente.first_name}}</th>
									{% if orden.no_factura %}
                                	<th class="product-name">{{orden.no_factura}}</th>
                                	{% else %}
                                	<th class="product-name">PENDIENTE</th>
                                	{% endif %}
									<th>{{orden.estado}}</th>
									<th>{{orden.total}}</th>
								</tr>
							  </tbody>
						    </thead>


                        </table>
						<table class="table">
						    <thead class="thead-primary">
						      <tr style:'background-color:crimson;'>
						        <th>Datos de Envio</th>
						        <th style:'text-align:left;'>Descripción</th>
						      </tr>
						    </thead>
						    <tbody>
								
						      <tr class="ml-10">
						        <th style:'backgroun-color:crimson;'>Nombre:</th>
                                <th style:'text-align:left;'>{{orden.nombre}}</th>
						      </tr><!-- END TR-->
							  <tr class="ml-10">
						        <th style:'text-align:center;'>Apellido:</th>
                                <th style:'text-align:left;'>{{orden.apellido}}</th>
						      </tr><!-- END TR-->
                              <tr class="ml-10">
						        <th style:'text-align:center;'>Direccion:</th>
                                <th style:'text-align:left;'>{{orden.direccion}}</th>
						      </tr><!-- END TR-->
                              <tr class="ml-10">
						        <th style:'text-align:center;'>Ciudad:</th>
                                <th style:'text-align:left;'>{{orden.ciudad}}</th>
						      </tr><!-- END TR-->
							 <tr class="ml-10">
						        <th style:'text-align:center;'>Telefono:</th>
                                <th style:'text-align:center;'>{{orden.telefono}}</th>
						      </tr>
							  <!-- END TR--><tr class="text-center mt-5">
						        <th class="product-name">Usuario:</th>
                                <th class="product-name">{{orden.cliente.username}}</th>
						      </tr><!-- END TR-->
						    </tbody>
						</table>


	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>Cantidad</th>
						        <th>Precio Unidad</th>
                                <th>Descuento</th>
								<th>Producto</th>
						        <th>Subtotal</th>
                                
						      </tr>
						    </thead>
						    <tbody>
								{% for detalle in detalles  %}
								
								
						      <tr class="text-center">
						        <td class="">{{detalle.cantidad}}</td>
						        
                                <td class="">{{detalle.precio_unitario}}</td>
						        
                               <td class="">{{detalle.descuento}}%</td>

							   <td class="product-name">{{detalle.producto.nombre}}</td>

							   <td class="total">{{detalle.subtotal}}</td>
						        
						       
						        
						       
						      </tr><!-- END TR-->
							  {% endfor %}

						    
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>


{% endblock contenido %}