{% extends 'pet_shop/base.html' %}
{% load static %}

{% block contenido %}

{% include 'pet_shop/banner.html' %}

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
					{% for message in messages %}
						<div class="col-md-12 alert alert-{{ message.tags }}" role="alert">
						{{message}}
					</div>
		{% endfor %}
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        
						        <th>Producto</th>
						        <th>Precio</th>
						        <th>Cantidad</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
								{% if request.session.carrito.items %}
								
							
								{% for key, value  in request.session.carrito.items  %}
								
								
						      <tr class="text-center">
						        <td class="product-remove" ><a href="{% url 'eliminar_producto' value.producto_id %}"><span class="ion-ios-close"></span></a></td>
						        
						         {% comment %} <td class="image-prod"><img class="img-fluid" src="/media/{{value.imagen}}" alt="Colorlib Template" width=150 height=100></div></td> {% endcomment %}
						        
						        <td class="product-name">
						        	<h3>{{value.nombre}}</h3>
						        </td>
						        
						        <td class="price">{{value.valor}}</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
										<span class="input-group-btn col-md-3 mr-3">
											<a href="{% url 'sacar_producto' value.producto_id 2 %}" class=" btn"  >
										   	<i class="ion-ios-remove"></i>
											</a>
										</span>
					             		<input type="text"  class="quantity form-control input-number col-md-6" value="{{value.cantidad}}" min="0" max="100" readonly>
									 	<span class="input-group-btn col-md-3">
											<a href="{% url 'agregar_producto' value.producto_id 2 %}" class=" btn" >
										 	<i class="ion-ios-add"></i>
									 		</a>
								</div>
					          </td>
						        
						        <td class="total">{{value.subtotal}}</td>
						      </tr><!-- END TR-->
							  {% endfor %}

							  {% else %}

							  {% endif %}
						    
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Nueva Orden</h3>
	            </form>
    				</div>
    				<p><a href="{% url 'limpiar_carrito' %}" class="btn btn-primary py-3 px-4">Limpiar Carrito</a></p>
    			</div>
    			{% comment %} <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Estimate shipping and tax</h3>
    					<p>Este cuadro esta bueno para seleccionar la direccioni de envio, que provenga de una lista del cliente.</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Country</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">State/Province</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">Zip/Postal Code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
    			</div>  {% endcomment %}
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>${{total_carrito}}</span>
    					</p>
    				</div>
    				<p><a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

	{% endblock contenido %}

		{% block js %}
	<script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
	
	{% endblock js %}