{% extends 'pet_shop/base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block contenido %}

{% include 'blog/banner.html' %}

<section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
        <div class="col-lg ftco-animate">
			<div class="row">
				{% for blog  in blogs  %}
					<div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="{% url 'blog_single' blog.id %}" class="block-20" 
                  style="background-image: url('/media/{{blog.imagen}}');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div>{{blog.fecha}}</div>
		                  <div>{{blog.user.first_name}}</div>
                      {% if request.user.is_authenticated  and user.is_staff %} 
		                   <div><a href="{% url 'editarBlog' blog.id %}" class="meta-chat text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                      </svg></a></div>
                      <div><a href="{% url 'borrarBlog' blog.id %}" class="meta-chat text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                        <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                      </svg></a></div>
                      {% endif %}
		                </div>
		                <h3 class="heading"><a href="{% url 'blog_single' blog.id %}">{{blog.titulo}}</a></h3>
		                {% if blog.subtitulo %}
						<p>{{blog.subtitulo}}</p>
						{% endif %}
		                <p><a href="{% url 'blog_single' blog.id %}" class="btn btn-primary py-2 px-3">Enterate</a></p>
		              </div>
		            </div>
		          </div>
				  
				{% endfor %}  
			</div>

      

        </div> <!-- .col-md-8 -->
           <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon ion-ios-search"></span>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </form>
            </div>
            {% comment %}
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading">Categories</h3>
              <ul class="categories">
                <li><a href="#">Vegetables <span>(12)</span></a></li>
                <li><a href="#">Fruits <span>(22)</span></a></li>
                <li><a href="#">Juice <span>(37)</span></a></li>
                <li><a href="#">Dries <span>(42)</span></a></li>
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading">Recent Blog</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
                <div class="block-21 mb-4 d-flex">
                  <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                  <div class="text">
                    <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                    <div class="meta">
                      <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                      <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                      <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                    </div>
                  </div>
                </div>
            </div>

              <div class="sidebar-box ftco-animate">
                <h3 class="heading">Tag Cloud</h3>
                <div class="tagcloud">
                  <a href="#" class="tag-cloud-link">fruits</a>
                  <a href="#" class="tag-cloud-link">tomatoe</a>
                  <a href="#" class="tag-cloud-link">mango</a>
                  <a href="#" class="tag-cloud-link">apple</a>
                  <a href="#" class="tag-cloud-link">carrots</a>
                  <a href="#" class="tag-cloud-link">orange</a>
                  <a href="#" class="tag-cloud-link">pepper</a>
                  <a href="#" class="tag-cloud-link">eggplant</a>
                </div>
              </div>

              <div class="sidebar-box ftco-animate">
                <h3 class="heading">Paragraph</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
              </div>
          </div>

        </div> {% endcomment %}
      </div>
</section> <!-- .section -->

{% endblock contenido %}